
.sidebar.visible + .pusher {
  width: calc(100% - 260px);
}
body.pushable {
   background-color: white !important;
   background: rgb(136, 47, 47);
}
.ui.visible.push.sidebar{
  background: rgb(136, 47, 47);
}